Source: qps
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders: Alf Gaida <agaida@siduction.org>,
           ChangZhuo Chen (陳昌倬) <czchen@debian.org>,
           Andrew Lee (李健秋) <ajqlee@debian.org>,
           suman rajan <suman@cryptolab.net>
Section: x11
Build-Depends: cmake,
               debhelper-compat (= 13),
               libkf6windowsystem-dev,
               liblxqt2-dev (>= 2.4.0),
               libxrender-dev,
               lxqt-build-tools (>= 2.4.0)
Standards-Version: 4.7.4
Vcs-Browser: https://git.lubuntu.me/Lubuntu/qps-packaging
Vcs-Git: https://git.lubuntu.me/Lubuntu/qps-packaging.git
Debian-Vcs-Browser: https://salsa.debian.org/lxqt-team/qps
Debian-Vcs-Git: https://salsa.debian.org/lxqt-team/qps.git
Homepage: https://github.com/lxqt/qps

Package: qps
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Qt process manager
 qps is a monitor that displays the status of the processes currently in
 existence, much like top or ps.
 .
 The user interface uses the Qt toolkit, and most operations should be fairly
 intuitive.
