Source: qps
Section: x11
Priority: optional
Maintainer: LXQt Packaging Team <pkg-lxqt-devel@lists.alioth.debian.org>
Uploaders:
 Alf Gaida <agaida@siduction.org>,
 ChangZhuo Chen (陳昌倬) <czchen@gmail.com>,
 Andrew Lee (李健秋) <ajqlee@debian.org>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 9),
 libxrender-dev,
 libqt5x11extras5-dev (>= 5.3),
 qtbase5-dev (>= 5.3), 
Standards-Version: 3.9.6
Homepage: https://github.com/qtdesktop/qps
Vcs-Git: git://anonscm.debian.org/pkg-lxqt/qps.git
Vcs-Browser: http://anonscm.debian.org/cgit/pkg-lxqt/qps.git

Package: qps
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description: The Qt process manager
 now ported to Qt5
